@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 57% 95%; /* base */
    --foreground: 248 19% 40%; /* text */

    /*TODO: To define*/
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    /*TODO: To define*/
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 197 53% 34%; /* pine */
    --primary-foreground: 25 35% 93%; /* highlight low */

    --secondary: 189 30% 48%; /* foam */
    --secondary-foreground: 25 35% 93%; /* highlight low */

    --muted: 257 9% 61%; /* muted */
    --muted-foreground: 248 19% 40% /* subtle */;

    --accent: 33 43% 91%; /* overlay */
    --accent-foreground: 248 19% 40%; /* text */

    --destructive: 3 53% 67%; /* rose */
    --destructive-foreground: 25 35% 93%; /* highlight low*/

    /*TODO: To define*/
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 249 22% 12%; /* base */
    --foreground: 245 50% 91%; /* text */

    /*TODO: To define*/
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    /*TODO: To define*/
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 189 43% 73%; /* foam */
    --primary-foreground: 244 18% 15%; /* highlight low */

    --secondary: 197 49% 38%; /* pine */
    --secondary-foreground: 244 18% 15%;

    --muted: 249 12% 47%; /* muted */
    --muted-foreground: 248 15% 61%; /* subtle */

    --accent: 248 25% 18%; /* overlay */
    --accent-foreground: 245 50% 91%;

    --destructive: 343 76% 68%; /* love  highlight low */
    --destructive-foreground: 244 18% 15%; /* highlight low */

    /*TODO: To define*/
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
